@charset "UTF-8";

$FontAwesomePath: "/styles/fonts";

$font-size-base:          14px !default;
$font-size-h1:            floor($font-size-base * 1.6); // ~36px
$font-size-h2:            floor($font-size-base * 1.4); // ~30px
$font-size-h3:            ceil($font-size-base * 1.2); // ~24px
$font-size-h4:            ceil($font-size-base * 1.1); // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil($font-size-base * 0.85) ; // ~12px

@import 'twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import 'animate';
@import 'notifications';

body {
  padding-top: 50px;
  padding-bottom: 70px;
}

.app-container {
  // make container non-fluid
  @extend .container;
}

// master-Detail Demo
.md-layout {
  @extend .row;

  .md-side-region {
    @extend .col-md-3;

    .md-side-list {
      @extend .list-group;
      .md-list-item {
        @extend .list-group-item;
      }
    }
  }

  .md-main-region {
    @extend .col-md-9;
  }
}

