<h1>Demo</h1>

<p>Demonstrating module seperation. Have a look in the logs.</p>

<a href="#" class="push-notification" data-title="Notification" data-type="info" data-description="Lorem ipsum blabla...">info</a>
<a href="#" class="push-notification" data-title="Notification" data-type="danger" data-description="Lorem ipsum blabla...">danger</a>
<a href="#" class="push-notification" data-title="Notification" data-type="warning" data-description="Lorem ipsum blabla...">warning</a>
<a href="#" class="push-notification" data-title="Notification" data-type="success" data-description="Lorem ipsum blabla...">success</a>