<h1>Demo</h1>

<p>Demonstrating module seperation. Have a look in the logs.</p>

<a href="#" class="btn btn-info push-notification" data-title="Notification" data-type="info" data-description="Lorem ipsum blabla...">Notification: Info</a>
<a href="#" class="btn btn-danger push-notification" data-title="Notification" data-type="danger" data-description="Lorem ipsum blabla...">Notification: Danger</a>
<a href="#" class="btn btn-warning push-notification" data-title="Notification" data-type="warning" data-description="Lorem ipsum blabla...">Notification: Warning</a>
<a href="#" class="btn btn-success push-notification" data-title="Notification" data-type="success" data-description="Lorem ipsum blabla...">Notification: Success</a>