<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand brand" href="/">Project Name</a>
    </div>
    <div class="collapse navbar-collapse" data-toggle="collapse" data-target=".navbar-collapse.in">
        <ul class="nav navbar-nav">
            <!--
            <li><a href="/start">Start</a></li>
            <li><a href="/hello/Max">Hello Max</a></li>
            <li><a href="/demo">Demo</a></li>
            -->
        </ul>
        <div id="navigation-region"></div>
    </div><!--/.nav-collapse -->
</div>