<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/start">Project Name</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/start">Start</a></li>
        <li><a href="/hello/Max">Hello Max</a></li>
      </ul>
      <div id="navigation-region"></div>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">
    <div id="main-region"></div>
</div><!-- /.container -->

<div id="dialog" class="modal fade"></div>